#about-section {
  border: 1px solid black;
  padding: 1rem 5rem;
}

#about-section p {
  font-size: 1.1rem;
}

@media (max-width: 1024px) {
  #about-section {
    padding: 1rem;
  }

  #about-section p {
    font-size: 0.9rem;
  }

  #about-section p:nth-child(3) {
    display: none;
  }

  #about-section p:nth-child(4) {
    display: none;
  }
}
